<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Template page </title>

    </head>
    <body>

      {{> header}}

    

      <p>{{welcomeHomePage}}Some more text ....</p>
      <p>From Handle Bar templates ..........</p>
        {{> footer}}

    </body>



</html>
